$fav-color: #40E0D0;
$accent-color: #ff0;

body {
  padding:40px;
  color:#fff;
  background:#000;
  font-size:16px;
}

h1 {
  margin:0;
  padding:0;
  color:$fav-color;
}

h2 {
  color:$fav-color;
}

form {
  padding:40px 0;
}

label {
  font-size:16px;
  cursor:pointer;
}

input {
  margin:10px 0 0 0;
  padding:10px;
  border:1px solid #fff;
  background:none;
  font-size:20px;
  color:#fff;
  outline:none;

  &:focus {
    color:$accent-color;
    border-color:$accent-color;
  }
}





@keyframes rainbow {
  0%   {border-color:#9400D3;}
  16%  {border-color:#4B0082;}
  32%  {border-color:#0000FF;}
  48%  {border-color:#00FF00;}
  64%  {border-color:#FFFF00;}
  80%  {border-color:#FF7F00;}
  96%  {border-color:#FF0000;}
  100% {border-color:#9400D3;}
}

#result-area {
  display:none;
  margin-bottom:40px;
  padding:20px;
  border:2px solid $fav-color;
  font-size:20px;

  &.bad {
    #word-length {
      color:#F5C1F7;
    }
  }

  &.good {
    animation-name:rainbow;
    animation-duration:1s;
    animation-iteration-count:infinite;

    #word-length {
      color:#9f0;
    }
  }
}

#score-table {
  margin-top:20px;
  font-size:14px;
  thead, tfoot {
    text-transform:uppercase;
    color:$accent-color;
  }

  td, th {
    padding:5px 10px;
    &:nth-of-type(1) {
      text-align:left !important;
    }
    &:nth-of-type(2) {
      text-align:right !important;
    }
  }
}





#word-bank {
  display:none;
  padding:20px;
  border:2px solid $fav-color;
}
